composer.lock
composer.phar
vendor
db
tmp
.DS_Store

stackfile*.yml
volumes/appdata/home/.composer/
volumes/www/
volumes/dev/
volumes/data/
volumes/backups/
volumes/var

docker-images

docker-compose.override*.yml
